# Dependencies
node_modules
.pnp
.pnp.js

# Yarn 2+
.yarn/*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Testing
coverage

# Next.js
**/.next/
**/out/

# Production
**/build
**/dist

# Azure Functions local runtime & binaries
**/bin/
**/obj/
.python_packages/
func_extensions/
local.settings.json
azure-credentials.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
env/
*.log

# Misc & Secrets
*.pem
*.key
*.bicep.json
.azure/
*.summary.json

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Turbo & Editor
.turbo
.vscode
.idea

# vercel
.vercel

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
**/.DS_Store