pydantic==2.9.2
numpy==1.26.4
pandas==2.0.0
requests==2.32.3
azure-functions==1.21.0
azure-cosmos==4.7.0
azure-eventgrid==4.20.0
azure-core==1.32.0
azure-identity==1.19.0
azure-keyvault-secrets==4.9.0
opencensus-ext-azure==1.1.13
azure-eventhub==5.12.1
optuna==4.0.0
azure-mgmt-containerinstance==10.1.0
pytest==8.3.3
pytest-mock==3.14.0
pytest-asyncio==0.21.0
python-dotenv==1.0.1
